<%= form_for @game, :html => {:class => "form-horizontal"} do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :home, :class => "col-sm-2 control-label" %><br>
    <%= f.text_area :home, :class => "col-sm-5" %>
  </div>
  <div class="field form-group">
    <%= f.label :guest, :class => "col-sm-2 control-label" %><br>
    <%= f.text_area :guest, :class => "col-sm-5" %>
  </div>
  <div class="field form-group">
    <%= f.label :points_home, :class => "col-sm-2 control-label" %><br>
    <%= f.number_field :points_home, :class => "col-sm-5" %>
  </div>
  <div class="field form-group">
    <%= f.label :points_guest, :class => "col-sm-2 control-label" %><br>
    <%= f.number_field :points_guest, :class => "col-sm-5" %>
  </div>
  <div class="field form-group">
    <%= f.label :league_id, :class => "col-sm-2 control-label" %><br />
    <%= f.select :league_id, options_from_collection_for_select(League.all, :id, :name, @game.league_id) %>
  </div>
  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
