<%= form_for(@tipgroup) do |f| %>
  <% if @tipgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipgroup.errors.count, "error") %> prohibited this tipgroup from being saved:</h2>

      <ul>
      <% @tipgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_area :owner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
